<div class="search">
    <form #form="ngForm" (submit)="onSubmitCity()">
        <input 
            type="text"
            placeholder="Buscar localização"
            name="city"
            [(ngModel)]="initialCity">
        <span (click)="onSubmitCity()">
            <fa-icon
                animation="fade"
                style="--fa-animation-duration: 5s; cursor: pointer"
                size="lg"
                [icon]="searchIcon">
            </fa-icon>
        </span>
    </form>
</div>

<app-weather-card *ngIf="weatherData" [weatherDataHome]="weatherData"></app-weather-card>