<div class="weather-wrapper" [class.warm-theme]="isWarmTheme">
    <div class="search">
        <form #form="ngForm" (submit)="onSubmitCity()">
            <input type="text" placeholder="Buscar localização" name="city" [(ngModel)]="initialCity"
                [disabled]="isLoading">
            <span (click)="onSubmitCity()" [class.disabled]="isLoading">
                <fa-icon size="lg" [icon]="searchIcon">
                </fa-icon>
            </span>
        </form>

        <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert" *ngIf="cityError">
            {{ cityError }}
            <button type="button" class="btn-close" (click)="cityError = ''" aria-label="Close"></button>
        </div>
    </div>

    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
        <button type="button" class="btn-close" (click)="errorMessage = ''" aria-label="Close"></button>
    </div>

    <ng-container *ngIf="weatherData$ | async as weatherData; else loading">
        <app-weather-card [weatherDataHome]="weatherData"></app-weather-card>
    </ng-container>

    <ng-template #loading>
        <div *ngIf="isLoading" class="d-flex justify-content-center my-5">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Carregando...</span>
            </div>
        </div>
    </ng-template>
</div>